<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="shortcut icon" type="image/png" href="https://clipart.info/images/ccovers/1559839401black-star-png-10.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Satellites | Distance</title>
</head>
<body id="backy">


<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRL0GHfo_JPhu5qbZbhq9jHtjtWSrOtH5lHjw&usqp=CAU" height="30px" width="30px"></a>
    <a class="navbar-brand" href="/mainpage.html">Satellites!</a>

    <div>
        <button class="buttonsnav">
            <a href="/login">Image Of The Day</a>
        </button>
    </div>

    <div>
        <button class="buttonsnav">
            <a href="/satlibrary">Satellites </a>
        </button>
    </div>

    <div>
        <button class="buttonsnav">
            <a href="/background.html">Background Info</a>
        </button>
    </div>

    <div>
        <button class="buttonsnav">
            <a href="/calculations.html">Calculations</a>
        </button>
    </div>


</nav>


<form method="post" action="/Tests/Post">
    

    <fieldset class="twhite">
        <legend class="twhite">GROUP:</legend>
        <input class="twhite" type="checkbox" name="favorite_pet" value="Cats" onclick="return ValidatePetSelection();">Weather<br>
        <input class="twhite" type="checkbox" name="favorite_pet" value="Dogs" onclick="return ValidatePetSelection();">Active Geosynchronous<br>
        <input class="twhite" type="checkbox" name="favorite_pet" value="Birds" onclick="return ValidatePetSelection();">GPS Operational<br>
        <input class="twhite" type="checkbox" name="favorite_pet" value="Birds" onclick="return ValidatePetSelection();">Space & Earth Science<br>
        <input class="twhite" type="checkbox" name="favorite_pet" value="Cats" onclick="return ValidatePetSelection();">Education<br>
        <input class="twhite" type="checkbox" name="favorite_pet" value="Dogs" onclick="return ValidatePetSelection();">Space Stations<br>

        <br>

    </fieldset>
    <input  type="submit" value="Submit now">
</form>

<script type="text/javascript">
function ValidatePetSelection()
{
    var checkboxes = document.getElementsByName("favorite_pet");
    var numberOfCheckedItems = 0;
    for(var i = 0; i < checkboxes.length; i++)
    {
        if(checkboxes[i].checked)
            numberOfCheckedItems++;
    }
    if(numberOfCheckedItems > 2)
    {
        alert("You can't select more than two favorite pets!");
        return false;
    }
}
</script>





</body>
</html>